.first {
  background-color: rgba(85, 61, 219, 0.932);
  color: aliceblue;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}
